<div class="container">
  <div class="row">
    <div *ngFor="let market of marketList" class="col s6 m4">
      <div
        (click)="goToMarket(market)"
        class="card horizontal valign-wrapper link"
        pkmnBorderCard
        pkmnBackgroundCard
      >
        <div class="card-image flex">
          <img src="{{ market.picture }}" alt="" />
        </div>
        <div class="card-stacked">
          <div class="card-content left-align">
            <p>{{ market.name }}</p>
            <p>
              <small>{{ market.created | date : "dd/MM/yyyy" }}</small>
            </p>
            <span
              *ngFor="let type of market.types"
              class="{{ type | marketTypeColor }}"
            >
              {{ type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
