<div *ngIf="market" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ market.name }}</h2>
    <div class="card horizontal hoverable" mktBackgroundCard>
      <div class="card-image valign-wrapper">
        <img [src]="market.picture" [alt]="market.name" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td>
                  <strong>{{ market.name }}</strong>
                </td>
              </tr>
              <tr>
                <td>Points de vie</td>
                <td>{{ market.hp }}</td>
              </tr>
              <tr>
                <td>Dégâts</td>
                <td>{{ market.cp }}</td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span
                    *ngFor="let type of market.types"
                    class="{{ type | marketTypeColor }}"
                    >{{ type }}</span
                  >
                </td>
              </tr>
              <tr>
                <td>Date de création</td>
                <td>
                  <em>{{ market.created | date : "dd/MM/yyyy" }}</em>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action row">
          <a
            (click)="goToMarketList()"
            class="waves-effect waves-teal btn orange darken-2 col s3 push-s0"
          >
            <i class="material-icons left">reply</i>
            Retour
          </a>
          <a
            (click)="goToEditMarket(market)"
            class="waves-effect waves-teal btn amber lighten-2 black-text col s3 push-s4"
          >
            <i class="material-icons left">edit</i>
            Editer
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf="!market" class="center">Aucun market à afficher.</h4>
