.container {
  display: flex;
  flex-direction: column;
  width: 8vw;
  margin: 25px 8px;
  background-color: rgb(237, 233, 196);
  border: 1px solid rgba(206, 202, 202, 0.667);
  border-radius: 8px;
  padding: 16px 20px;
  .name {
    font-family: "Roboto";
    color: rgb(59, 56, 53);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .picture {
    height: 100%;
    width: 100%;
  }
  .caract {
    display: flex;
    justify-content: space-between;
    font-size: 0.87rem;
    font-family: "Courier New", Courier, monospace;
    .hp {
      color: green;
    }
    .cp {
      color: red;
    }
  }
}
