<div class="pokedex">
  <div class="select">
    <label class="">Entre le numéro de ton pokémon préféré </label>
    <input
      #input
      (keyup.enter)="selectPokemon(input.value)"
      (blur)="selectPokemon(input.value)"
      type="number"
      class="form"
    /><button class="btn">OK</button>
  </div>
  <p *ngIf="pokemonSelected">
    ⏩ Ton pokémon préféré est
    <span class="monPokemon"> {{ pokemonSelected?.name }} !</span>
  </p>
  <p *ngIf="!pokemonSelected" class="noPokemon">
    Aucun pokémon n'a été trouvé.
  </p>

  <div class="pokelist">
    <div
      *ngFor="let pokemon of pokemonList"
      class="poka"
      pkmnBorderCard="green"
      pkmnBbgColor="#fbfaf3"
      pkmnTranformScale="scale(1.07)"
    >
      <div class="container">
        <img class="picture" src="{{ pokemon.picture }}" alt="" />
        <div class="info">
          <div class="name">{{ pokemon.name }}</div>
          <div class="caract">
            <div class="hp">{{ pokemon.hp }} HP</div>
            <div class="cp">{{ pokemon.cp }} CP</div>
          </div>
          <span *ngFor="let type of pokemon.types" class="type">{{
            type | pokemonTypeColor
          }}</span>
          <div class="date">{{ pokemon.created | date : "dd/MM/yyyy" }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
